body { 
  background-image: url(https://i.imgur.com/tNuBZZk.jpg);
}

#container {
  display:flex;
  flex-direction: column;
}

#gamename{
  margin: 50px 0;
  justify-content: center;
  text-align: center;

}

#tic-tac-toe {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 480px;
  margin: 40px 80px;
  
}

.cell {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 130px;
  height: 130px;
  font-size: 50px;
  margin:2px;
  background-image: url(https://i.imgur.com/SCHnfYI.jpg?1);
  border-radius: 5px;
}

.greensword {
  width: 90%;
}

.whitesword {
  width: 90%;
}

#reset-btn {
  width: 100px;
  height: 65px;
  margin: 80px;
  margin-left: 30px;
  margin-top: 150px;
  font-size: 1.5rem;
  border-radius: 8px;
  color: #11351b;
  text-shadow: 4px;
  box-shadow: 5px 5px darkgreen;

}

.flash {
  animation: flash linear 0.5s 2;
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}